/.vs/AccountWebService/FileContentIndex/069c50c3-9426-431e-998e-e36a3e8fca66.vsidx
/.vs/AccountWebService/FileContentIndex/3f79b198-57c6-4bf8-8b49-d2edec500bbb.vsidx
/.vs/AccountWebService/FileContentIndex/a0f634a8-b6ec-4b82-88bc-a6b1c427d83f.vsidx
/.vs/AccountWebService/FileContentIndex/a248ac8c-eecc-4a1f-853d-e8b2639b0c4c.vsidx
/.vs/AccountWebService/FileContentIndex/bb13c427-c869-428e-9829-d6c2c926ae3e.vsidx
/.vs/AccountWebService/FileContentIndex/a2fc1d46-d8af-4287-8edf-83d2d8cb2540.vsidx
/.vs/AccountWebService/CopilotIndices/17.14.1561.44479/CodeChunks.db
/.vs/AccountWebService/CopilotIndices/17.14.1561.44479/CodeChunks.db-shm
/.vs/AccountWebService/CopilotIndices/17.14.1561.44479/CodeChunks.db-wal
/.vs/AccountWebService/CopilotIndices/17.14.1561.44479/SemanticSymbols.db
/.vs/AccountWebService/CopilotIndices/17.14.1561.44479/SemanticSymbols.db-shm
/.vs/AccountWebService/CopilotIndices/17.14.1561.44479/SemanticSymbols.db-wal
/.vs/AccountWebService/FileContentIndex/0d588f59-2d56-4a2b-a299-6645da173710.vsidx
/.vs/AccountWebService/FileContentIndex/18681f55-a22c-4e7f-9fdd-1eb1895189d4.vsidx
/.vs/AccountWebService/FileContentIndex/3778f734-9309-49cf-bff2-09ea9f0b08d3.vsidx
/.vs/AccountWebService/FileContentIndex/2e50f040-46b4-440e-ad66-eac594bf8caa.vsidx
/.vs/AccountWebService/FileContentIndex/a1489e21-0296-4066-aa4d-641b7635ef72.vsidx
/.vs/AccountWebService/FileContentIndex/34103dfc-a72e-4f0b-ac66-47f66f599ce6.vsidx
/.vs/AccountWebService/FileContentIndex/872844d7-eb27-467b-a27e-d0fdf39cadfc.vsidx
/.vs/AccountWebService/FileContentIndex/e1b94261-725b-4ad3-9cdf-9e2c9b120195.vsidx
/.vs/AccountWebService/FileContentIndex/eef02ec0-0404-4c1a-8206-33081511f3fc.vsidx
/.vs/AccountWebService/FileContentIndex/011162eb-08ff-453f-ac5a-f23cdc06e52d.vsidx
/.vs/AccountWebService/FileContentIndex/ae67418b-7057-4735-aa10-127d61f34cfc.vsidx
/.vs/AccountWebService/FileContentIndex/e088f998-6ab8-4d8c-a333-0dab041c90a8.vsidx
/.vs/AccountWebService/FileContentIndex/45ea738e-c7f6-4223-b4ed-c60d6a3a17a2.vsidx
/.vs/AccountWebService/FileContentIndex/ce8dbb3a-4ed9-4b4f-87d0-1cd002185d84.vsidx
/.vs/AccountWebService/FileContentIndex/d42f56eb-0ddf-4854-8e52-8e6ddfc72b1f.vsidx
/.vs/AccountWebService/FileContentIndex/06bfcd2b-2de0-47a8-bc3e-65ec01a45adb.vsidx
/.vs/AccountWebService/FileContentIndex/24f526cf-f91e-4532-bfc0-5c50dbc19650.vsidx
/.vs/AccountWebService/DesignTimeBuild/.dtbcache.v2
